[flake8]
max-line-length = 88
spellcheck-targets = comments
dictionaries=en_US,python,technical
per-file-ignores=
    # type annotation is weird for pytest fixtures, ignore it
    test*.py:ANN001,ANN201,S101
    conftest.py:ANN001,ANN201,S101,W605
ignore = W503,E203,D202,RST307,DAR402
# flake8-rst-docstrings options
rst-roles =
  class,
  meth,
  func,
  ref,
  mod,
  attr,
rst-directives =
    envvar,
    exception,
# darglint options
strictness=short
docstring_style=sphinx
